.pg-head .head-frist div{
    float: right;
}

.pg-head .head-second{
    border: solid gainsboro 1px;
    padding: 1px;
    position: relative;
    height: 65px;
    margin-top: 3px;
}
.pg-head .head-second #img2{
    position: absolute;
    right: 2px;
    bottom: 3px;
    top:3px;

}

.pg-head .nav-menu{
    background-color: #2b6695;
    height: 40px;
}


.pg-head .nav-menu ul li a{
    float: left;
    line-height: 40px;
    margin-left: 10px;
    color: white;
}