{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL反转</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/css/h1css.css' %}">
{#    <script src={% static 'myApp/js/myJS.js' %}></script>#}
    <script src="{% static 'myApp/js/myJS.js' %}"></script>
</head>
<body>
    <h1>反转了。。。</h1>

    <div>
        {%  block body  %}

        {% endblock %}
    </div>

    <h2>反转2了。。。</h2>
</body>
</html>