{% extends 'base.html' %}
{% load custom %}

{% block pg-container %}
{#    左边内容#}
    <div class="wrap-left">
{#    左边的图标#}
        <div class="small-Icon" >
            <ul>
                {% for position in img_position %}
                    <li class="icon" style="background-position: {{ position.x }}px {{ position.y }}px;"><a href="#" ></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="article-show-info">
{#            标题#}
            <h1>{{ artical_info.title }}</h1>
            <div>
                <span class="glyphicon glyphicon-user user-nologin" id="usercoin" aria-hidden="true"></span>
{#                作者#}
                <div class="author" style="display: inline-block"><a href="#">{{ artical_info.author }}</a></div>
{#                其他信息#}
                <div class="other-info">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span>{{ artical_info.pub_date }}</span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span>收藏</span>
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    {% filter_comment artical_info as comment %}
                    <span>{{ comment.comment_count }}</span>
                </div>
                <div class="article-show-img">
                    <img src="/static/{{ artical_info.head_img|truncate_url }}">
                </div>

                <div class="article-show-content">
                    {{ artical_info.content|safe }}
                </div>
                {% if request.user.is_authenticated %}
{#               登录后#}
                <textarea id="comment-area"></textarea>
                {% else %}
{#               登录前#}
                <div class="jumbotron">
                    请<a href="{% url 'login' %}?next={{ request.path }}">登录</a>后评论
                </div>
                {% endif %}
                <button type="button" class="btn btn-success pull-right">评论</button>
            </div>

        </div>
{#        <button class="btn-success" style="margin-left: 100px;" onclick="showComment();">显示评论</button>#}
        <div style="margin-left: 100px;margin-top: 60px">
            最新评论
            <hr>
        </div>

        <div class="comment-list" style="margin-left: 100px;margin-top: 50px">
{#            {{ comment_html }}#}
        </div>
{#        评论框#}
    {% if request.user.is_authenticated %}
        <div id="reply-comment" >
            <div class="header">
                <h4 style="display: inline-block">回复评论：</h4>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <textarea></textarea>
            <div class="btn">
                <button class="cancel">取消</button>
                <button class="subm">提交</button>
            </div>
        </div>
    {% else %}
        <div id="reply-comment" class="nologinstyle">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <div>请<a href="{% url 'login' %}?next={{ request.path }}">登录</a>后再评论</div>

{#            <div class="btn">#}
{#                <button class="cancel">取消</button>#}
{#            </div>#}
        </div>
    {% endif %}

{#       遮罩层#}
        <div class="back hide"></div>
{#       对话框#}
{#    {% if request.user.is_authenticated %}#}
        <div class="static-dialog hide">
            <div class="report-head">
                <span>举报</span>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="report-body">
                <form action="#" method="post">
                    <div class="item">
                        <input type="radio" name="report"  value="1"/>色情
                        <input type="radio" name="report"  value="2"/>谣言
                        <input type="radio" name="report"  value="3"/>网络钓鱼广告
                        <input type="radio" name="report"  value="4"/>政治
                        <input type="radio" name="report"  value="5"/>侵权
                        <input type="radio" name="report"  value="6"/>人身攻击
                    </div>
                    <div class="report-text">补充说明</div>
                    <div>
                        <textarea type="text" class="more-info" ></textarea>
                    </div>
                    <hr>
                    <input type="submit" class="report-submit" name="report-submit"/>
                </form>
            </div>
        </div>
{#    {% else %}#}
{##}
{#    {% endif %}#}
    </div>
{#    右边内容#}
    <div class="wrap-right">
        <div class="personal-info">
            <a href="#"><img src="/static/{{ artical_info.author.head_img|truncate_url }}"/></a>
            <div class="author"><a href="#">{{ artical_info.author }}</a></div>
            {% filter_article_num artical_info.author as num %}
            <div class="article-num">
                <a href="#">{{ num }}篇文章</a>
            </div>
            <hr>
            <span>个人简介:</span>
{#        如果个人简介为空，那么就显示其他信息#}
             {% if  artical_info.author.signatrue != None %}
            <div class="author-brief">
                {{ artical_info.author.signatrue }}
            </div>
            {% else %}
             <div class="author-brief">
                　　这个人很懒，什么都没有留下哦.......
             </div>
            {% endif %}
        </div>
    </div>
{% endblock %}






