
/*文章显示的样式*/

.wrap-left .small-Icon{
    width: 60px;
    height: 460px;
    /*background-color: #999999;*/
    position: fixed;
}

.wrap-left .small-Icon ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*文章*/
.wrap-left .small-Icon .icon{
    display: inline-block;
    background-color: #fafafa;
    border-bottom:1px solid #f0f0f0;
    width: 60px;
    height: 60px;
    background-image: url("/static/bbs/img/icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
    /*background-position: 10px -259px;*/
    /*-50px -259px*/
}

.wrap-left .small-Icon .icon:hover{
    background-color: #5bc0de;
}


.wrap-left .article-show-info{
    margin-left: 100px;
}


.wrap-left .article-show-info .author{
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap-left .article-show-info .other-info{
    color:#999999 ;
    margin-bottom: 20px;
}

.wrap-left .article-show-info h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.wrap-left .article-show-info .other-info .glyphicon-star-empty{
    margin-left: 20px;
}

.wrap-left .article-show-info .other-info .glyphicon-comment{
    margin-left: 20px;
}

.wrap-left .article-show-info .article-show-img img{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.wrap-left .article-show-info .article-show-content{
    line-height: 30px;
    font-size: 16px;
}

.wrap-left .article-show-info textarea{
    margin-top: 40px;
    width: 100%;
    height: 220px;
    /*取消自动拉伸*/
    resize:none;
}


.wrap-left .article-show-info .jumbotron {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
    height: 220px;
    text-align: center;
    line-height: 220px;
    padding: 0px;
    font-size: 22px;
}
/*评论按钮*/
.wrap-left .article-show-info button{
    margin-top:1px;
    width: 150px;
    height: 50px;
}

/*每一条评论*/
.wrap-left .comment-style{
    position: relative;
}

/*评论的图片的样式*/
.wrap-left .comment-style img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
/*评论的作者*/
.wrap-left .comment-style .author{
    margin-left: 20px;
}

/*评论时间*/
.wrap-left .comment-style .time{
    margin-left: 20px;
    color: #999999;
}

/*评论内容*/
.wrap-left .comment-style .content{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*评论举报*/
.wrap-left .comment-style .report{
    border: 1px solid #ccc;
    position: absolute;
    right: 0px;
    top:28px;
    cursor: pointer;
    color: #ccc;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-shadow:0 0 15px rgba(18,21,21,.2);
    z-index: 1000;
    background-color:white;
}

.wrap-left .comment-style .report:hover{
    color: black;
}


/*评论回复*/
.wrap-left .comment-style .reply{
    color: blue;
    cursor: pointer;
}


/*评论点赞图标*/
.wrap-left .comment-style .glyphicon-thumbs-up{
    position: absolute;
    right:90px;
    top:4px;
    color: #ccc;
}
/*评论点赞数*/
.wrap-left .comment-style .thumb-num{
    position: absolute;
    right: 58px;
    color: #ccc;
}



/*评论举报三角符号样式*/
.wrap-left .comment-style .glyphicon-triangle-bottom{
    color: #3ca5f6;
    position: absolute;
    border: 1px solid #ccc;
    right: 0px;
    padding: 6px;
    font-size: 3px;
    cursor: pointer;
}

/*举报的遮罩层*/
.wrap-left .back{
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #ccc;
    opacity: 0.6;
    z-index: 10000;
}

/*举报的模态框*/
.wrap-left .static-dialog{
    position: fixed;
    width: 500px;
    height: auto;
    background-color: white;
    z-index: 20000;
    left: 50%;
    top:50%;
    margin-top: -170px;
    margin-left: -250px;
}
/*举报模态框中的头部部分*/
.wrap-left .static-dialog .report-head{
    width: 100%;
    height: 55px;
    background-color: #2e3138;
    padding: 15px;
    position: relative;
}

.wrap-left .static-dialog .report-head span{
    color: white;
    font-size: 20px;
}
.wrap-left .static-dialog .report-head .glyphicon-remove{
    right: 15px;
    top:15px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

/*举报模态框中的body部分*/

/*举报模态框中选项*/
.wrap-left .static-dialog .report-body .item{
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.wrap-left .static-dialog .report-body .item input{
    margin-left: 30px;
    margin-top: 10px;
}

/*举报模态框的补充说明*/
.wrap-left .static-dialog .report-body .report-text{
    font-size: 20px;
    color: #333;
    margin-left: 15px;
    font-family: 华文琥珀;
}

/*举报模态框中的textare标签*/
.wrap-left .static-dialog .report-body .more-info{
    margin-left: 15px;
    width: 470px;
    height: 80px;
    resize: vertical;
    box-shadow: 0 0 25px #5bc0de;
}
/*举报模态框中的提交按钮*/
.wrap-left .static-dialog .report-body .report-submit{
    width: 150px;
    height: 40px;
    margin-left: 335px;
    margin-bottom: 15px;
    background-color: #b2dba1;
}

/*显示具体文章的右边部分*/
.wrap-right .personal-info{
    background-color: #fafafa;
    margin-top: 50px;
    margin-left: 20px;
    width: 350px;
    height: 400px;
}


/*显示文章右边个人信息的图片*/
.wrap-right .personal-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: 30px;
}
/*显示文章右边个人信息的作者*/
.wrap-right .personal-info .author{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
/*显示文章右边个人信息文章数量*/
.wrap-right .personal-info .article-num{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.wrap-right .personal-info .article-num a{
    color: #ccc;
}

.wrap-right .personal-info .article-num a:hover{
    color: black;
}


/*评论框的样式*/
#reply-comment{
    position:fixed;
    z-index: 200000;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -100px;
    display:none;
    width: 620px;
    height: auto;
    background-color: white;
    border: 10px solid #ccc;
    border-radius: 25px;
}
#reply-comment .header span{
    margin-left: 480px;
}

/*评论区*/
#reply-comment textarea{
    padding: 20px;
    width: 580px;
    height: 100px;
    margin: 10px;
    resize:vertical;
}

#reply-comment button{
    background-color: #008CBA;
    color: white;
    width: 100px;
}

#reply-comment .btn{
    margin-left: 370px;
}

/*评论框按钮*/
#reply-comment button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*未登录时显示的评论框*/
.wrap-left .nologinstyle div{
    width: 100%;
    height: 100px;
    color: red;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    background: url("/static/bbs/img/nologin2.jpg") no-repeat 10%,
                url("/static/bbs/img/nologin.gif") no-repeat 90% ;
    background-size:120px 100px;
}

.wrap-left .nologinstyle .glyphicon-remove{
    margin-left: 560px;
    margin-top: 5px;
    font-size: 20px;

}