a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: none;
}

.hide{
    display: none;
}
/*用户的图标*/
#usercoin{
    margin-top: 17px;
    width: 15px;
    height: 15px;
}



/*登录后用户名的显示*/
#user-login a{
    width: 80px;
    height: 50px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


/* 投稿*/
#contribute{
    margin-left: 5px;
    background-color: #008CBA;
    border: none;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#contribute a{
    text-decoration: none;
    color: white;
}

.wrap-left{
    width: 75%;
    /*min-height: 399px;*/
    height: auto;
    float: left;
    /*background-color: #1b6d85;*/
}


.wrap-left .article-box .article-img a img{
    width: 220px;
    height: 165px;
}

/*文章标题*/
.wrap-left .article-box .article-content{
    width: 69%;
    height: 50px;
    margin-left: -30px;
    /*让文字超出部分变为。。。*/
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.wrap-left .article-box .article-content a{
    font-size: 20px;
}

.clear_both{
    clear: both;
}

.wrap-left .article-box .article-info{
    margin-left: -30px;
    color: #999999;
}

.wrap-left .article-box .article-info .glyphicon-time{
    margin-left: 30px;
}

.wrap-left .article-box .article-info .glyphicon-comment{
    margin-left: 30px;
}
/*点赞图标*/
.wrap-left .article-box .article-info .glyphicon-thumbs-up{
    margin-left: 30px;
}

/*作者头像*/
.wrap-left .article-box .article-info a img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
/*文章的简介*/
.wrap-left .article-box .article-brief{
    margin-top:35px;
    color: #999999;
    margin-left: -30px;
    width: 69%;
    height: 50px;
    /*让文字超出部分变为。。。*/
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.wrap-right{
    float: left;
    width: 25%;
    /*background-color: #3e8f3e;*/
}





